<br>
<h4>Add a New Movie:</h4>

    <% if @movie.errors.any? %>
        <% @movie.errors.full_messages.each do |error_message| %>
        <span class="error-text", style="color:red"><strong><%= error_message %> !!! </strong></span><br>
        <% end %>
    <% end %>
<br>
<%= render 'form'%>