<div class="container">
  <h2 style="text-align:center;">Seen Movies</h2><br>           
  <table class="table">
    <thead>
      <tr>
        <th>Seen?</th>
        <th>Title</th>
        <th>Category</th>
      </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= movie.seen %></td>
                <td><%= link_to movie.title, movie %></td>
                <td><%= movie.category.name %></td>
            </tr>
        <% end %>
    </tbody>
</table><br>

</div>