<body>
    <div class ="center">
    <br>
        <h2 style="text-align:center; text-decoration: underline;">Welcome to MovieRecs!</h2>
        <br>
        <h3 style="text-align:center;">See and manage your favorite movie recommendations in this app.</h3>
    <% if !user_signed_in? %>
        <h3 style="text-align:center;">Login or Sign up to begin adding great movies to your list.</h3>
    <% end %>
     </div>
</body>