<div class="welcome">
    <div class ="center">
    <br>
        <h3 style="text-align:center;">Welcome to MovieRecs!</h3>
        <br>
        <p style="text-align:center;">Your go-to for keeping track of movie recommendations.</p>
    <% if !user_signed_in? %>
        <h3 style="text-align:center;">Login or Sign up to begin adding great movies to your list.</h3>
    <% end %>
     </div>
</div>