<body>
    <div class ="center">
        <h2>Welcome to MovieRecs!</h2>
        <h2>See and manage your favorite movie recommendations in this app.</h2>
    <% if !user_signed_in? %>
        <h3>Login or Sign up to begin adding great movies to your list.</h3>
    <% end %>
     </div>
</body>