@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* Styling */

body {
    background-color: #ffffff;
}

body, input, textarea, select {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.65em;
    font-size: 12pt;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
}

/* Welcome page */

.welcome {
    position: relative;
    text-align: center;
}

li {
    list-style: inside;
    text-align: center;
    font-family: 'Inter';
    margin-left: auto;
    text-decoration: none;
    /* margin-right: auto; */ 
}

a:link {
    text-decoration: none;
}

h3, h4 {
    text-align: center;
}

/* Form Styling */

.form {
    position: relative;
    height: auto;
    padding: 10px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
}

/* Buttons */

#new-movie-btn {
    background-color: #1E90FF;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    width: 200px;
}