<br>
<h4 style="text-align:center;">Your Movie Categories</h4>
<br>
<ul>
<% @categories.each do |category| %>
<li><%= link_to category.name, category_movies_path(category, @movie) %></li>
<% end %>
</ul>
<br>
