<br>
<h5>Movies in <i><%= @category.name %></i> category</h5><br>
<ul>
<% @movies.each do |movie| %>
<li><%= link_to movie.title, movie_path(movie) %></li>
<br>
<% end %>
<ul>

<div class="center">
<br>
    <button id="add-movie-to-category"><%= link_to "Add More Movies", new_category_movie_path(@category) %></button>
</div>