<h4>Your movies in this category</h4><br>
<br>
<% @movies.each do |movie| %>
<%= link_to movie.title, movie_path(movie) %>
<br>
<% end %>

<div class="center">
    <%= link_to "Add Movies", new_category_movie_path(@category) %>
</div>